name: Release

on:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always

jobs:
  release-macos-universal:
    name: macos-universal
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-apple-darwin, x86_64-apple-darwin

      - name: Build aarch64
        run: cargo build --release --target aarch64-apple-darwin

      - name: Build x86
        run: cargo build --release --target x86_64-apple-darwin

      - run: mkdir -p target/universal/release
      - name: Combine Binaries into Universal Binary
        run: >
          lipo -create -output
          "target/universal/release/nanoproxy"
          "target/x86_64-apple-darwin/release/nanoproxy"
          "target/aarch64-apple-darwin/release/nanoproxy"

      - name: Make universal zip
        run: |
          mkdir nanoproxy-macos-universal
          cp target/aarch64-apple-darwin/release/nanoproxy nanoproxy-macos-universal
          zip -r nanoproxy-macos-universal.zip nanoproxy-macos-universal

      - name: Make SHA256 checksum
        run: shasum -a 256 nanoproxy-macos-universal.zip > nanoproxy-macos-universal.zip.sha256sum

      - name: Upload universal to Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: nanoproxy-macos-universal.zip
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload SHA256 to Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: nanoproxy-macos-universal.zip.sha256sum
          tag: ${{ github.ref }}
          overwrite: true